@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* header */
header{
    background-color: #46949d;
    padding: 20px 20px 20px 20px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header h1{
    color: white;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 50;
    text-align: center;
}

.abrir-menu{
    display: none;
}

header nav ul{
    list-style: none;
    text-align: right;
    padding: 20px 5px 0px 0px;
    display: flex;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li{
    margin: 5px;
}

.destacados{
    width: 100%;
    height: calc(50vh - 127px);
    background-image: url(../img/fondo.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /* main */

main{
    background-color: #44b39d;
}

main section h2{
    display: inline-block;
    font-size: 30px;
    border: 5px solid white;
    padding: 10px;
}

main section p{
    color: white;
    margin: 20px;
}

.detalles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detalles div{
    width: 80%;
    text-align: center;
    margin: 20px;
}

.detalles div h3{
    font-size: 35px;
}

.detalles div p{
    font-size:  20px;
}

section iframe {
    margin: 50px;
} 

main div h3{
    color: white;
    padding: 10px;
    text-decoration: underline;
    margin: 10px;
}

main div p{
    color: white;
    padding: 10px;
    margin: 10px;
}

.ventanas{
    background-image: url(../img/fondo.png);
    background-position:center;
}

.cuadros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ventanas .cuadros div{
    width: 325px;
    height: 390px; 
    border: 2px solid white;
    text-align: center;
    margin: 20px;
}

.ventanas div h3{
    margin-bottom: 20px;
}

.ventanas div img{
    width: 200px;
    height: 250px;
    margin: 10px;
    text-align: center;
}

.boton{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
}

.cuadros div a:hover{
    background-color: #44b39d;
    color: white;
}

/* footer */

footer{
    background-color: #44b39d;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px;
}

footer h2{
    color: white;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 50;
    text-align: center;
}

footer h4{
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 10px;
}

footer label{
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

.terminal{
    text-align: left;
    margin: 20;
}

footer h5{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.pagos{
    text-align: center;
}


footer h6{
    color: white;
    font-size: 30px;
    text-align: right;
    padding: 10px;
}

.redes{
    text-align: right;
}

footer div a img{
    width: 60px;
    height: 60px;
}

/* PRODUCTOS */
.productos{
    width: 100%;
    height: calc(grid-auto-rows);
    background-image: url(../img/fondo.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: white;
    text-align: center;
    font-size: 30px;
}

main section h2{
    font-size: 30px;
    border: 5px solid white;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

.grid-ropas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 400px;
    gap: 10px;
}

.grid-ropas div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.camisa-leñador{
    grid-column:span 2;
}

.remera-salmon{
    grid-row: span 2;
}

.puffer{
    grid-row: span 2;
}

/* CONTACTO */
.contactos{
    width: 100%;
    height: calc(grid-auto-rows);
    background-image: url(../img/fondo.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: white;
    text-align: center;
    font-size: 30px;
}

.contactos div label{
    margin-top: 20px ;
}

.contactos div input{
    margin: 0px 0px 20px 0px;
}

/* NOSOTROS */
.nosotros{
    width: 100%;
    height: calc(100vh - 300px);
    background-image: url(../img/fondo.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align: center;
    padding: 50px;
}

main div label{
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 10px;
}

main div h2 {
    color: white;
    font-size: 30px;
}
/* LOGIN */

.login{
    width: 100%;
    height: calc(75vh - 300px);
    background-image: url(../img/fondo.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align: center;
    padding: 150px 5px 0px 0px;
}

/* media-querys */

@media screen and (max-width: 730px){
    .abrir-menu{
        display: block;
    }
}

@media screen and (max-width: 675px){
    header{
        flex-direction: column;
    }
}
@media screen and (max-width: 430px){
    .destacados h2{
        font-size: 10px;
    }
    .destacados p{
        font-size: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 550px){
    .destacados h2{
        font-size: 25px;
    }
    .destacados p{
        font-size: 15px;
        text-align: center;
        width: 80%;
    }
}

@media screen and (max-width: 550px){
    .detalles iframe{
    width:320px;
    height:300px;
    }
}

@media screen and (max-width: 870px){
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 950px){
    .grid-ropas{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220;
    }
    .grid-prendas{
        grid-column: span 1;
        grid-row: span 1;
    }
    .batik{
        grid-column: span 2;
    }
}

@media screen and (max-width: 450px){
    .grid-ropas{
        grid-template-columns:1fr;
    }
    .grid-prendas{
        grid-column: span 1;
        grid-row: span 1;
    }
}