.contactos{
    width: 100%;
    height: calc(grid-auto-rows);
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color-secundario;
    text-align: center;
    font-size: $font-size,6;
    div{
        label{
            color: $color-secundario;
            font-size: $font-size, 6;
            text-align: left;
            padding: 10px;
            margin-top: 20px;
        }
        input{
            margin: 0px 0px 0px 0px;
            font-size: $font-size, 5;
        }
    }
}