footer {
    background-color: $color-setario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    h2 {
        color: $color-secundario;
        font-size: $font-size, 9;
        font-family: 'Permanent Marker', cursive;
        font-weight: 50;
        text-align: center;
    }

    .terminal {
        text-align: left;
        margin: 20;

        h4 {
            color: $color-secundario;
            font-size: $font-size, 6;
            text-align: left;
            padding: 10px;
        }

        label {
            color: $color-secundario;
            font-size: $font-size, 5;
            text-align: left;
            padding: 10px;
        }
    }

    .pagos {
        text-align: center;

        h5 {
            color: $color-secundario;
            font-size: $font-size, 6;
            text-align: center;
            padding: 10px;
        }

        img {
            width: 60px;
            height: 60px;
        }
    }

    .redes {
        text-align: right;

        h6 {
            color: $color-secundario;
            font-size: $font-size, 6;
            text-align: right;
            padding: 10px;
        }

        img {
            width: 60px;
            height: 60px;
        }
    }
}