header{
    background-color: $color-primario;
    padding: 20px 20px 20px 20px;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
    .navbar-brand{
        font-size: 40px;
    }
    div{
        ul{
            list-style: none;
            text-align: right;
            padding: 20px 5px 0px 0px;
            display: flex;
            li{
                margin: 5px;
                a{
                    text-decoration: none;
                    color: $color-secundario;
                    font-size: 20px;
                }
            }
        }
    }
}