main {
    background: $color-septenario;
    background: linear-gradient(43deg, rgba(9,215,168,1) 46%, rgba(152,195,237,1) 56%);
    .carousel-control-prev {
        margin-top: 0px;
    }

    .carousel-control-next {
        margin-top: 0px;
    }

    .destacados {
        width: 100%;
        height: calc(60vh - 127px);
        background-image: url(../img/fondo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: $color-secundario;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: animateBg 10s linear infinite;

        h2 {
            display: inline-block;
            font-size: $font-size, 6;
            border: 5px solid $color-secundario;
            padding: 10px;
        }

        p {
            color: $color-secundario;
            margin: 20px;
            padding: 10px;
            font-size: $font-size, 6;
        }
    }

    .detalles {
        @include flex (flex, center, center, column);

        div {
            width: 80%;
            text-align: center;
            margin: 20px;

            h3 {
                color: $color-secundario;
                padding: 10px;
                text-decoration: underline;
                margin: 10px;
                font-size: $font-size, 7;
            }

            p {
                color: $color-secundario;
                font-size: $font-size, 5;
            }
        }

        iframe {
            margin: 50px;
        }
    }

    .cuadros {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-image: url(../img/fondo.png);
        background-position: center;
        div {
            width: 325px;
            height: 390px;
            border: 2px solid $color-secundario;
            text-align: center;
            margin: 20px;
            background-color: $color-primario;

            img {
                width: 200px;
                height: 250px;
                margin: 10px;
                text-align: center;
            }

            h3 {
                color: $color-secundario;
                padding: 10px;
                text-decoration: underline;
                margin: 10px;
                margin-bottom: 10px;
            }

            a {
                &:hover {
                    background-color: $color-primario;
                    color: $color-secundario;
                }
            }
        }
    }
}