.nosotros{
    width: 100%;
    height: calc(grid-auto-rows);
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    color: $color-secundario;
    .parrafo{
        h2{
            margin: 20px;
            display: inline-block;
            border: 5px solid $color-secundario;  
            padding: 10px;
        }
        p{
            font-size: $font-size,6;
            color: antiquewhite;
            margin: 20px;
        }
    }

}