$color-primario: rgba(152,195,237,1);
$color-secundario: white;
$color-terciario: rgba(255, 255, 255, .5);
$color-cuaternario: #fff;
$color-quinario: #000;
$color-senario:rgba(9,215,168,1);
$color-septenario: rgb(9,215,168);

$font-size:
.9em,
1em,
1.2em,
2em,
20px,
30px,
35px,
40px,
50px;

%flex{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

@mixin flex($flex, $justify,$aling, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
    flex-direction: $direction;
}